ghlapitoken=your_ghl_pit_token_here
ghllocationid=your_ghl_location_id_here
vapikey=be759e16-7f3a-4e2d-8a24-50823dd92335
vapiassistantid=b472a2ae-5eb3-4790-8176-685375d65bed
vapiphonenumberid=c7f6b2e6-c923-4da7-a612-53bb48bf6003
queuetag=testingcoldcall
PORT=3000
pipelineid=
stageOutboundDialled=
stageContacted=
stageWarmLead=
stageHotLead=
stageDemoBooked=
stageNotInterested=
stageDnc=
structuredoutputid=
callspacingseconds=60
maxconcurrentcalls=1
dailycalllimit=2
n8ndonewebhookurl=
